Imports

In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", "{:,.2f}".format)

Loading the dataset

In [4]:
data_path = "../data/raw/McDonalds_Financial_Statements.csv"
df = pd.read_csv(data_path)
df.head()

,Year,Market cap ($B),Revenue ($B),Earnings ($B),P/E ratio,P/S ratio,P/B ratio,Operating Margin (%),EPS ($),Shares Outstanding ($B),Cash on Hand ($B),Dividend Yield (%),Dividend (stock split adjusted) ($),Net assets ($B),Total assets ($B),Total debt ($B),Total liabilities ($B)
0,2022,193.01,23.18,7.82,31.30,8.33,-32.20,33.76,8.42,0.73,2.58,2.15,5.66,-6.01,50.43,48.03,56.43
1,2021,200.31,23.22,9.12,26.50,8.63,-43.50,39.31,10.11,0.74,4.70,1.96,5.25,-4.61,53.60,48.64,58.20
2,2020,159.88,19.20,6.14,33.80,8.32,-20.40,31.97,6.35,0.74,3.44,2.35,5.04,-7.83,52.62,48.51,60.45
3,2019,147.47,21.28,8.01,24.80,6.93,-18.00,38.04,7.98,0.74,0.89,2.39,4.73,-8.22,47.51,46.87,55.72
4,2018,136.21,21.02,7.81,23.20,6.48,-21.80,37.17,7.65,0.76,0.86,2.36,4.19,-6.26,32.81,31.07,39.06

Inspecting column names and types

In [6]:
print("Columns:")
for col in df.columns:
    print(f"- {col}")

print("\nData Types:")
df.dtypes

Columns:
- Year
- Market cap ($B)
- Revenue ($B)
- Earnings ($B)
- P/E ratio
- P/S ratio
- P/B ratio
- Operating Margin (%)
- EPS ($)
- Shares Outstanding ($B)
- Cash on Hand ($B)
- Dividend Yield (%)
- Dividend (stock split adjusted) ($)
- Net assets ($B)
- Total assets ($B)
- Total debt ($B)
- Total liabilities ($B)

Data Types:

Year                                     int64
Market cap ($B)                        float64
Revenue ($B)                           float64
Earnings ($B)                          float64
P/E ratio                              float64
P/S ratio                              float64
P/B ratio                              float64
Operating Margin (%)                   float64
EPS ($)                                float64
Shares Outstanding ($B)                float64
Cash on Hand ($B)                      float64
Dividend Yield (%)                     float64
Dividend (stock split adjusted) ($)    float64
Net assets ($B)                        float64
Total assets ($B)                      float64
Total debt ($B)                        float64
Total liabilities ($B)                 float64
dtype: object

Inspect Year Coverage

In [8]:
print("Year Range:")
print(df["Year"].min(), "->", df["Year"].max())

print("Missing Years:")
expected_years = set(range(df["Year"].min(), df["Year"].max()+1))
actual_years = set(df["Year"])
sorted(expected_years - actual_years)

Year Range:
2002 -> 2022
Missing Years:

[]

Missing Values Analysis

In [10]:
missing_summary = (
    df.isna()
    .sum()
    .to_frame("missing_count")
    .assign(missing_pct=lambda x: (x["missing_count"] / len(df)) * 100)
)

missing_summary.sort_values("missing_pct", ascending=False)

                                     missing_count  missing_pct
Year                                             0         0.00
Shares Outstanding ($B)                          0         0.00
Total debt ($B)                                  0         0.00
Total assets ($B)                                0         0.00
Net assets ($B)                                  0         0.00
Dividend (stock split adjusted) ($)              0         0.00
Dividend Yield (%)                               0         0.00
Cash on Hand ($B)                                0         0.00
EPS ($)                                          0         0.00
Market cap ($B)                                  0         0.00
Operating Margin (%)                             0         0.00
P/B ratio                                        0         0.00
P/S ratio                                        0         0.00
P/E ratio                                        0         0.00
Earnings ($B)                                    0         0.00
Revenue ($B)                                     0         0.00
Total liabilities ($B)                           0         0.00

Statistical Overview

In [11]:
df.describe(include="all")

,Year,Market cap ($B),Revenue ($B),Earnings ($B),P/E ratio,P/S ratio,P/B ratio,Operating Margin (%),EPS ($),Shares Outstanding ($B),Cash on Hand ($B),Dividend Yield (%),Dividend (stock split adjusted) ($),Net assets ($B),Total assets ($B),Total debt ($B),Total liabilities ($B)
count,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00
mean,"2,012.00",96.82,22.71,6.21,21.66,4.23,-7.10,26.89,4.85,0.99,2.39,2.49,2.75,7.22,35.02,21.29,27.79
std,6.20,50.40,3.40,2.23,5.54,2.27,19.36,8.36,2.51,0.20,1.64,0.58,1.68,9.49,8.72,14.92,16.80
min,"2,002.00",20.39,15.40,1.66,15.00,1.32,-45.90,10.79,0.70,0.73,0.33,1.46,0.24,-8.22,23.97,8.43,13.54
25%,"2,007.00",67.22,20.81,3.88,16.50,2.95,-20.40,19.30,2.88,0.79,1.37,2.15,1.50,-3.27,29.39,10.14,14.84
50%,"2,012.00",90.22,22.82,6.86,21.40,3.36,2.87,28.52,4.88,1.00,2.13,2.39,2.87,12.85,32.81,13.63,20.09
75%,"2,017.00",136.21,24.62,8.01,24.80,6.01,5.53,31.97,6.35,1.18,2.58,2.94,3.83,14.63,36.62,29.53,37.07
max,"2,022.00",200.31,28.10,9.12,33.80,8.63,15.10,39.31,10.11,1.27,7.68,3.50,5.66,16.00,53.60,48.64,60.45

Identifying columns needing cleaning

In [12]:
non_numeric_cols = df.select_dtypes(include=["object"]).columns.tolist()
print("Potentially non-numeric columns:")
non_numeric_cols

Potentially non-numeric columns:

[]

Sample Rows

In [13]:
df.sample(5, random_state=42)

,Year,Market cap ($B),Revenue ($B),Earnings ($B),P/E ratio,P/S ratio,P/B ratio,Operating Margin (%),EPS ($),Shares Outstanding ($B),Cash on Hand ($B),Dividend Yield (%),Dividend (stock split adjusted) ($),Net assets ($B),Total assets ($B),Total debt ($B),Total liabilities ($B)
0,2022,193.01,23.18,7.82,31.30,8.33,-32.20,33.76,8.42,0.73,2.58,2.15,5.66,-6.01,50.43,48.03,56.43
17,2005,42.59,20.46,3.70,16.40,2.08,2.81,18.09,2.06,1.25,4.26,1.99,0.67,15.14,29.98,10.14,14.84
15,2007,67.84,22.78,3.57,29.30,2.98,4.44,15.68,2.01,1.18,1.98,2.55,1.50,15.27,29.39,9.30,14.11
1,2021,200.31,23.22,9.12,26.50,8.63,-43.50,39.31,10.11,0.74,4.70,1.96,5.25,-4.61,53.60,48.64,58.20
8,2014,90.22,27.44,7.37,19.20,3.29,7.02,26.86,4.87,0.96,2.07,3.50,3.28,12.85,34.28,14.98,21.42